[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/Conflux-Chain/rocksdb.git
	branch = conflux-fixed-version
[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/Conflux-Chain/titan.git
	branch = tikv-4.x

